.contact{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    background:
    linear-gradient(
        to right,
        rgba($primary-color,1),
rgba($primary-color,0.8)
    ),
    url('/img/DSL_9717a.jpg') ;
    background-size: cover;

    h2{
        font-size: 3rem;
    }



 
    .contact_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
        .contact_email{
            margin-top: .1em;
            
                    }
                    .contact_phone{
                        margin-top: .1em;
            
                    }
                    .contact_address{
                        margin-top: .1em;
          
            
                    }
    }

    .social-icons{
        position: initial;
        margin-top: 2rem;
    }
} 