$primary-color:#272727;
$secondary-color:#ff652f;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@mixin media-md {
    @media screen and (min-width:768px){
      @content;  
    }
}
@mixin media-lg {
    @media screen and (min-width:1024px){
      @content;  
    }
}
@mixin media-xl {
    @media screen and (min-width:1600px){
      @content;  
    }
}
@mixin media-pro13 {
  @media screen and (min-width:2560px){
    @content;  
  }
}
@mixin media-pro16 {
  @media screen and (min-width:3072px){
    @content;  
  }
}
@mixin media-4k {
  @media screen and (min-width:3840px){
    @content;  
  }
}